.td-btn {
  display: block;
  width: 100%;
  height: $controlHeight;
  line-height: $controlHeight - 2px;
  border: 0;
  border-radius: 2px;
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;
  transition: all 0.2s;
  outline: none;
  text-align: center;
  text-decoration: none;

  background-color: $primaryActionColour;
  color: $primaryActionComplimentaryColour;
  box-shadow: $controlShadow;
  &:hover,
  &:focus {
    box-shadow: $controlHoverShadow;
    background-color: lighten($primaryActionColour, 10%);
  }
  &:active {
    box-shadow: $controlActiveShadow;
    background-color: lighten($primaryActionColour, 20%);
  }
  &:visited {
    color: $primaryActionComplimentaryColour;
  }

  @include media(">tablet") {
    max-width: 150px;
  }
}
