$FABDiameter: 56px;
.td-FAB-container {
  position: fixed;
  bottom: $footerHeight;
  right: $gapSize * 2;
}
.td-FAB {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: $gapSize;
}
.td-FAB__button {
  width: $FABDiameter;
  height: $FABDiameter;
  border: none;
  border-radius: 100px;
  background-color: $primaryActionColour;
  box-shadow: $controlShadow;
  fill: $primaryActionComplimentaryColour;
  &:hover,
  &:focus {
    box-shadow: $controlHoverShadow;
    background-color: lighten($primaryActionColour, 10%);
  }
  &:active {
    box-shadow: $controlActiveShadow;
    background-color: lighten($primaryActionColour, 20%);
  }
}
.td-FAB__button-icon {
  display: block;
  width: 60%;
  margin: auto;
}
.td-FAB__label {
  white-space: nowrap;
  margin-right: $gapSize;
}
.td-FAB__button--secondary {
  width: $FABDiameter * 0.65;
  height: $FABDiameter * 0.65;
  background-color: white;
  border: 2px solid $primaryActionColour;
  fill: black;
  margin-right: 9px;

  .td-FAB__button-icon {
    width: 90%;
  }

  &:hover,
  &:focus {
    box-shadow: $controlHoverShadow;
    background-color: $primaryActionColour;
  }
  &:active {
    box-shadow: $controlActiveShadow;
    background-color: lighten($primaryActionColour, 20%);
    border-color: lighten($primaryActionColour, 20%);
  }
}
