.td-form {
  display: grid;
  grid-gap: $gapSize * 2;

  @include media(">tablet") {
    grid-template-columns: max-content minmax(auto, 400px);
    margin-left: $gapSize * 2;
  }
}
.td-form--narrow {
  grid-template-columns: auto;
}

.td-form__message {
  margin: $gapSize 0;
  @include media(">tablet") {
    grid-column: 2;
  }
}
.td-form__message--error {
  color: $brandColourDanger;
}

.td-form__submit {
  @include media(">tablet") {
    grid-column: 2;
  }
}
