.td-input {
  width: 100%;
  height: $controlHeight;
  border: 1px solid $brandColourSecondary;
  border-radius: 2px;
  padding: $gapSize/2 $gapSize * 2;
  font-size: 1em;
  &:focus {
    border: 2px solid $brandColour;
    outline: none;
  }
}

.td-select {
  @extend .td-input;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.td-control-label {
  margin-right: $gapSize;
}
