.td-justify-space-around {
  display: flex;
  justify-content: space-around;
}
.td-justify-space-between {
  display: flex;
  justify-content: space-between;
}
.td-justify-flex-start {
  display: flex;
  justify-content: flex-start;
}
.td-justify-flex-end {
  display: flex;
  justify-content: flex-end;
}
.td-align-center {
  display: flex;
  align-items: center;
}
.td-content {
  padding: $gapSize $gapSize * 2;
  min-height: 100%;
}
