.td-modal {
  position: absolute;
  top: $gapSize * 3;
  left: $gapSize * 3;
  right: $gapSize * 3;
  bottom: $gapSize * 3;
  max-width: 600px;
  height: min-content;
  max-height: 600px;
  margin: auto;

  @extend .td-card;
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  padding: $gapSize;
  color: black;
}

.td-modal__close-button {
  position: absolute;
  top: $gapSize;
  right: $gapSize;
  width: 33px;
  height: 33px;
  border: 2px solid $primaryActionColour;
  border-radius: 100px;
  box-shadow: $controlShadow;
  &:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15.854 12.854L11 8l4.854-4.854a.503.503 0 0 0 0-.707L13.561.146a.499.499 0 0 0-.707 0L8 5 3.146.146a.5.5 0 0 0-.707 0L.146 2.439a.499.499 0 0 0 0 .707L5 8 .146 12.854a.5.5 0 0 0 0 .707l2.293 2.293a.499.499 0 0 0 .707 0L8 11l4.854 4.854a.5.5 0 0 0 .707 0l2.293-2.293a.499.499 0 0 0 0-.707z"/></svg>');
    height: 50%;
    width: 50%;
  }
  // background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M15.854 12.854L11 8l4.854-4.854a.503.503 0 0 0 0-.707L13.561.146a.499.499 0 0 0-.707 0L8 5 3.146.146a.5.5 0 0 0-.707 0L.146 2.439a.499.499 0 0 0 0 .707L5 8 .146 12.854a.5.5 0 0 0 0 .707l2.293 2.293a.499.499 0 0 0 .707 0L8 11l4.854 4.854a.5.5 0 0 0 .707 0l2.293-2.293a.499.499 0 0 0 0-.707z"/></svg>');

  &:hover,
  &:focus {
    box-shadow: $controlHoverShadow;
    background-color: $primaryActionColour;
  }
  &:active {
    box-shadow: $controlActiveShadow;
    background-color: lighten($primaryActionColour, 20%);
    border-color: lighten($primaryActionColour, 20%);
  }
}
