.header__logo {
  max-height: 50px;
}
.header__logo-text {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
}
.app-header {
  border-top: 3px solid #ff1e6c;
  border-bottom: 3px solid #ff1e6c;
}
