@import "../variables";
@import "~animate.css/source/_base.css";
@import "~animate.css/source/attention_seekers/shake.css";

.is-invalid-input {
  border: 2px solid $brandColourDanger;
  background-color: lighten($brandColourDanger, 40%);
}
