@import "../../../../variables";
@import "~include-media/dist/_include-media";

$teamBlue: #4475f9;
$teamRed: #ff2e2e;
$teamBlack: black;
$teamBlank: darken(#b24c82, 10%);

.team-marked {
  &--red {
    border-style: solid;
    border-width: $gapSize * 2 1px 1px 1px;
    border-color: $teamRed;
  }
  &--blue {
    border-style: solid;
    border-width: $gapSize * 2 1px 1px 1px;
    border-color: $teamBlue;
  }
  &--blank {
    border-style: solid;
    border-width: $gapSize * 2 1px 1px 1px;
    border-color: $teamBlank;
  }
  &--black {
    border-style: solid;
    border-width: $gapSize * 2 1px 1px 1px;
    border-color: $teamBlack;
  }
}
@import "./styles/results";
@import "./styles/playerStatus";
@import "./styles/teams";
