.player-status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include media("<=phone") {
    flex-wrap: wrap;
  }
}

.player-status__description {
  width: 155px;
}

.player-status__controls {
  margin: $gapSize * 3;

  @include media("<=phone") {
    width: 100%;
  }
}

.player-status__token-count {
  font-size: 3em;
  text-align: center;
}
.player-status__transfer-input {
  text-align: center;
}
.player-status__transfer-arrow {
  transform: rotate(180deg);
  width: 45px;
  margin: auto;
  &--red {
    fill: $teamRed;
  }
  &--blue {
    fill: $teamBlue;
  }
}
