.results {
  display: flex;
  text-align: center;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.results__result {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: $gapSize / 2;
  margin: $gapSize / 2;
  padding: $gapSize / 2;
  min-width: 85px;

  @include media(">=tablet") {
    grid-gap: $gapSize;
    margin: $gapSize;
    padding: $gapSize;
    min-width: 91px;
  }
}

.results__winner {
  grid-column: 1 / span 2;
  text-transform: capitalize;
}
