.teams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  grid-gap: $gapSize * 2;
  text-align: center;
}

.teams__team {
  &--black {
    margin-top: $gapSize * 2;
    text-align: center;
  }
}

.teams__team-members {
  list-style: none;
  padding: 0;
  margin: $gapSize 0;
}

$iconWidth: 21px;
.teams__player {
  display: flex;
  margin: $gapSize 0 $gapSize $gapSize * 2;
}
.teams__player-name {
  width: 100%;
  flex-shrink: 1;
  padding-left: $iconWidth;
}
.teams__submitted-icon {
  width: $iconWidth;
  margin: 0 $gapSize $gapSize $gapSize;
  fill: $brandColourApprove;
  stroke: $brandColourApprove;
  flex-shrink: 0;
}
