$brandColour: #ff1e6c;
$brandColourSecondary: black;
$brandColourDanger: #ff1e34;
$brandColourApprove: #34c22c;
$brandColourCaution: #e9c91c;

$softEdgeColour: #a4d1ca;
$primaryActionColour: $brandColour;
$primaryActionComplimentaryColour: white;

$linkColour: $brandColourApprove;
$linkVisitedColour: darken($brandColourApprove, 15%);
$footerHeight: 20px;
$controlHeight: 32px;
$gapSize: 6px;

$controlShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$controlActiveShadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
$controlHoverShadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$fontFamily: "Oxygen", sans-serif;
