@import "../../variables";
@import "~include-media/dist/_include-media";
@import "~animate.css/source/bouncing_entrances/bounceInUp.css";

$cardWidth: 650px;
.dashboard__card {
  max-width: $cardWidth;
  margin: $gapSize * 2 auto $gapSize * 4 auto;
  text-align: center;
  padding-bottom: $gapSize * 2;
}
.dashboard__list {
  width: 100%;
  max-width: $cardWidth - 100px;
  padding: 0;
  margin: auto;
  list-style: none;
}

$clockWidth: 60px;
$iconWidth: 21px;
.dashboard__list-item {
  flex-wrap: wrap-reverse;
  margin: $gapSize * 2 $gapSize;

  @include media(">tablet") {
    flex-wrap: nowrap;
    margin: $gapSize * 2 $gapSize $gapSize * 2 $gapSize + $clockWidth +
      $iconWidth;
  }
}

.dashboard__clock {
  width: $clockWidth;
  flex-shrink: 0;
}
.dashboard__submitted-icon {
  width: $iconWidth;
  margin: 0 $gapSize $gapSize $gapSize;
  fill: $brandColourApprove;
  stroke: $brandColourApprove;
  @include media(">tablet") {
    margin: auto $gapSize;
  }
}
