@import "../../../variables";

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 32px;
  width: 100%;
  margin-left: -2 * $gapSize;
  padding: $gapSize $gapSize * 2;
  color: white;
  font-weight: bold;
}

.game-header--container {
  display: block;
  margin-top: -2 * $gapSize;
}

.game-header--tournament {
  background-color: $brandColour;
}

.game-header--round {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.game-header__countdown {
  min-width: 80px;
}

.game-header__control {
  color: white;
  fill: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:visited {
    color: white;
  }
}

.game-header__help-icon {
  padding: 0 7px;
  margin-right: $gapSize;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 100%;
}
