@import "../../../variables";

.expander-button {
  width: 100%;
  margin: $gapSize 0;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.expander-icon {
  float: left;
  width: 15px;
  line-height: 1.1em;
  padding: 0px 7px 1px;
  margin: 2px 6px 0 0;
  font-size: 1.5em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 100%;
}
